# Identifiant client OAuth 2.0 (type "Application Web") créé dans Google Cloud Console.
# Voir le README pour la procédure complète de création.
VITE_GOOGLE_CLIENT_ID=000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
